<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mosaiek.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>310916E21C4EF2DE007EA1C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310916F91C4EF2DE007EA1C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310917041C4EF2DE007EA1C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
